In [2]:
import numpy as np
import pandas as pd
from scipy import stats
import os
import math as m
pd.options.display.float_format = '{:,.4f}'.format

In [4]:
df = pd.read_excel("files_for_lab/anova_lab_data.xlsx")

In [5]:
df

   Power   Etching Rate
0   160 W        5.4300
1   180 W        6.2400
2   200 W        8.7900
3   160 W        5.7100
4   180 W        6.7100
5   200 W        9.2000
6   160 W        6.2200
7   180 W        5.9800
8   200 W        7.9000
9   160 W        6.0100
10  180 W        5.6600
11  200 W        8.1500
12  160 W        5.5900
13  180 W        6.6000
14  200 W        7.5500

## In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on: - Null hypothesis - Alternate hypothesis - Level of significance - Test statistic - P-value - F table

In [6]:
df.columns

Index(['Power ', 'Etching Rate'], dtype='object')

In [10]:
df1 = np.array([5.43,5.71,6.22,6.01,5.59])
df2 = np.array([6.24,6.71,5.98,5.66,6.60])
df3 = np.array([8.79,9.20,7.90,8.15,7.55])

In [13]:
def homocedasticity(df1, df2, df3, significance):
    test_stats_var, p_value_var = stats.levene(df1, df2, df3)
    print("pvalue: ", p_value_var)
    if p_value_var < significance:
        print("Variance not the same")
    else:
        print("no evidence to reject: Variance same")

In [14]:
F, p_value = stats.f_oneway(df1,df2, df3)#What is the significance level is 5percent, 
print("p value:%.4f" % p_value)
if p_value <0.05:
    print("Reject null hypothesis")
else:
    print("Fail to reject null hypothesis")

p value:0.0000
Reject null hypothesis

In [ ]:
 # it is rejected,because there is effect on the plasma when power is changed.